@use '../abstract/function' as *;
@use '../abstract/breakpoints' as *;

$full-width:100%;

// ========= page container starts =========
.page-container{
    max-width:none;
    margin:0 rem(16);

    @include breakpoint-sm{
        max-width:none;
        margin:0 rem(20);
    }

    @include breakpoint-md{
        max-width:calc($full-width*0.88);
        margin:0 auto;
    }
  
    @include breakpoint-lg{
        max-width:calc($full-width*0.90);
        margin:0 auto;
    }

    @include breakpoint-xl{
        max-width:calc($full-width*0.93);
        margin:0 auto;    
    }
}